<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de usuarios</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header></header>
        <nav>
            <h1>GESTOR DE USUARIOS</h1>
            <p class="reg"><a href="/new">Registrar Usuario</a></p>
        </nav>
    </header>
    <main>
        <div id="users"></div>
    </main>
    <footer>
        <p class="piefooter">Gracias por visitarnos!</p>
    </footer>
</body>
</html>