<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reistro</title>
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
    <header></header>
        <nav>
            <h1>GESTOR DE USUARIOS</h1>
        </nav>
    <main>
        <div class="contenedor">
                <form action="/new" method="post">
                    <h3>Registrar usuario</h3>
                    <label for="nombre">Nombre</label><br>
                    <input type="text" class="bordeinterior"><br>
                    <label for="date">Fecha de nacimiento</label><br>
                    <input type="date" name="" id="" class="bordeinterior"><br>
                    <label for="email">Email</label><br>
                    <input type="email" name="" id="" class="bordeinterior"><br>
                    <label for="genero">Genero</label><br>
                    <input type="text" name="" id="" class="bordeinterior"><br>
                    <label for="profesion">Profesión</label><br>
                    <input type="text" name="" id="" class="bordeinterior"><br>
                    <label for="salario">Salario</label><br>
                    <input type="number" name="" id="" class="bordeinterior"><br>
                    <input type="submit" class="submit">
                </form>
        </div>
    </main>
</body>
</html>