body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #051937, #32275c, #6d2b75, #ae227e, #eb1273);
    background-repeat: no-repeat;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

nav{
    display: flex;
    background-color: #000000;
    align-items: center
}

h1{
    color: #ffffff;
    font-size: 20px;
    margin: 5px 20px
}

a{
    text-decoration: none;
    color: #ffffff;
    transition: 1s;
}

.registrar{
    flex: 1;
    text-align: right;
    font-size: 20px;
    margin: 0 20px;
    transition: 1s; text-decoration: none;
    color: #ffffff;
    transition: 1s;
}

a:hover, .registrar:hover{
    font-size: 23px;
    color: #de97f0;
    transition: 1.5s;
}

#show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.alluser{
    padding: 0 20px 10px;
    background: rgba(255, 255, 255, 0.9);
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 9px 10px 38px -18px rgba(0,0,0,1);
    font-size: 18px;
    color: #6d2b75;
    position: relative; 
}

.textcard{
    line-height: 8px;
}

.imgcard{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 20px;
}

.nombre{
    text-align: center;
    font-size: 25px;
    color: #6d2b75; 
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0
}
.finaltext{
    margin-bottom: 60px;
}

.btndiv{
    position: absolute;
    bottom:0px;
    margin-bottom: 10px;
}

button{
    background-color: #7c3c8b;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    font-size: 13px;
    width: 130px;
    height: 30px;
    box-shadow: 2px 5px 8px -6px rgba(0,0,0,0.83);
    transition: 1.5s;
    margin: 5px 0;
}

button:hover{
    background-color: #a567b3;
    letter-spacing: 3px;
    transition: 1.5s;
}

.btndel{
    background-color: #ac2f2f;
    margin-left: 35px;
}

.btndel:hover{
    background-color: #e40808;
    font-weight: 600;
}

footer{
    display: flex;
    font-size: 25px;
    justify-content: center;
    color: aliceblue;
    letter-spacing: 4px;
    background-color: #000000;
}

